#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-button {
  width: 220px;
  margin: auto;
}

:root {
  --ion-color-button: #d6abf2;
  --ion-color-button-rgb: 214,171,242;
  --ion-color-button-contrast: #000000;
  --ion-color-button-contrast-rgb: 0,0,0;
  --ion-color-button-shade: #bc96d5;
  --ion-color-button-tint: #dab3f3;
}

.ion-color-button {
  --ion-color-base: var(--ion-color-button);
  --ion-color-base-rgb: var(--ion-color-button-rgb);
  --ion-color-contrast: var(--ion-color-button-contrast);
  --ion-color-contrast-rgb: var(--ion-color-button-contrast-rgb);
  --ion-color-shade: var(--ion-color-button-shade);
  --ion-color-tint: var(--ion-color-button-tint);
}


.center {
  text-align: center;
}

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.divider {
  height: 50px;
}


