


<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)='back()'></ion-back-button>
    </ion-buttons>
    <ion-title>Overnight Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center">
  <ion-item class='sleep-text top'>
    <ion-label class="start" position="floating">Start Time</ion-label>
    <ion-datetime display-format="MMM DD, YYYY HH:mm" [(ngModel)]='sleepStart'></ion-datetime>
  </ion-item>

  <ion-item class='sleep-text bottom' *ngIf='sleepStart'>
    <ion-label position="floating">Wake Up Time</ion-label>
    <ion-datetime  display-format="MMM DD, YYYY HH:mm" min={{sleepStart}} [(ngModel)]='sleepEnd'></ion-datetime>
    <!-- error prevention -->
  </ion-item>
  
  <ion-button *ngIf = 'sleepEnd' class='save-button' (click)="saveOvernight()" expand="block" >Save Data</ion-button>
  
  <ion-item lines="none">
    <ion-img src="../../assets/sleephours.png"></ion-img>
  </ion-item>
</ion-content>




