<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tab-nav</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="home">
      <ion-tab-button tab="home">
        <ion-icon name="bed-outline"></ion-icon>
        <ion-label>Hours & Sleepiness</ion-label>
      </ion-tab-button>  

      <ion-tab-button tab="view-page">
        <ion-icon name="analytics-outline"></ion-icon>
        <ion-label>View Logs</ion-label>
      </ion-tab-button>  
    </ion-tab-bar> 

  </ion-tabs>
</ion-content>
