.deleteButton{
    position:absolute;
    top:2px;
    right:2px;
    //size:10px;
}

.stanfordDesc{
    color:black;
}

// ion-card-subtitle{
//     //font-size:11px;
//     position:absolute;
//     left:20px;
//     top:25px;
//     //right:5px;
// }

// ion-card-title{
//     position:absolute;
//     top:50px;
//     //left:30px;
// }